.defaultColor{
    background-color: black;
    color: wheat;
}
.redWhiteColor{
    background-color: red;
    color: white;
}
.greenYellowColor{
    background-color: green;
    color: yellow;
}
.blueRoseColor{
    background-color: blue;
    color: rosybrown;
}